{
    admin off
}
:{$PORT:10000} {
    # www.baseurl.com/api/v1/dailymotion -> localhost:8081
    handle_path /api/v1/dailymotion* {
        reverse_proxy 127.0.0.1:8081
    }

    # www.baseurl.com/api/v1/peertube -> localhost:8082
    handle_path /api/v1/peertube* {
        reverse_proxy 127.0.0.1:8082
    }

    # www.baseurl.com/api/v1/videominer -> localhost:8083.
    handle_path /api/v1/videominer* {
        reverse_proxy 127.0.0.1:8083
    }

    # Respuesta por defecto para evitar errores 404 en la raíz
    handle / {
        respond "API Gateway Multi-Servicio Activo" 200
    }
}